extends layout

block content
    h1 &Mcy;&ycy; &ncy;&acy;&shcy;&lcy;&icy; &bcy;&rcy;&ocy;&ncy;&softcy; &ncy;&acy; &vcy;&acy;&shcy;&iecy; &icy;&mcy;&yacy;:
    p &Icy;&mcy;&yacy;: !{booking.name}
    p &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;: !{booking.family_name}
    p &Ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;: !{booking.phone_number}
    p &Vcy;&rcy;&iecy;&mcy;&yacy;: !{booking.booking_time}