doctype html
head
  meta(charset='UTF-8')
  title Restoraunt
  link(rel='stylesheet' href='/stylesheets/style.css')
section.content_on_image
  header
    a(href='/')
      img.logo(src='/images/logo.png')
    main.menu
      a(href='/menu') &Mcy;&iecy;&ncy;&yucy;
      a(href='/contacts') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      a(href='/sales') &Acy;&kcy;&tscy;&icy;&icy;
      a(href='/work') &Rcy;&acy;&bcy;&ocy;&tcy;&acy;
  .under_header
    main.all_forms
      input#booking_create.form_radio_input(type='radio' name='booking_type' checked='')
      input#booking_check.form_radio_input(type='radio' name='booking_type')
      input#booking_delete.form_radio_input(type='radio' name='booking_type')
      .forms_menu
        label#booking_create_label(for='booking_create') &Zcy;&acy;&bcy;&rcy;&ocy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;
        label#booking_check_label(for='booking_check') &Pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&icy;&tcy;&softcy; &bcy;&rcy;&ocy;&ncy;&softcy;
        label#booking_delete_label(for='booking_delete') &Ocy;&tcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
      form#booking_create_form.form(method='POST' action='/booking/create')
        label(for='name_input_create') &Icy;&mcy;&yacy;
        input#name_input_create.input(type='text' placeholder='Иван' name='name')
        label(for='family_name_input_create') &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;
        input#family_name_input_create.input(type='text' placeholder='Иванов' name='family_name')
        label(for='number_input_create') &Ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
        input#number_input_create.input(type='tel' placeholder='+7-800-000-00-00' name='tel')
        label(for='date_input_create') &Dcy;&acy;&tcy;&acy;
        input#date_input_create.input(type='date' name='date')
        input.submit_input(type='submit' value='Подтвердить')
      form#booking_check_form.form(method='POST' action='/booking')
        label(for='name_input_check') &Icy;&mcy;&yacy;
        input#name_input_check.input(type='text' placeholder='Иван' name='name' required='true')
        label(for='family_name_input_check') &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;
        input#family_name_input_check.input(type='text' placeholder='Иванов' name='family_name' required='true')
        label(for='number_input_check') &Ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
        input#number_input_check.input(type='tel' placeholder='+7-800-000-00-00' name='tel' required='true')
        input.submit_input(type='submit' value='Проверка')
      form#booking_delete_form.form(method='POST', action='/booking/delete')
        label(for='name_input_delete') &Icy;&mcy;&yacy;
        input#name_input_delete.input(type='text' placeholder='Иван' name='name')
        label(for='family_name_input_delete') &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;
        input#family_name_input_delete.input(type='text' placeholder='Иванов' name='family_name')
        label(for='number_input_delete') &Ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
        input#number_input_delete.input(type='tel' placeholder='+7-800-000-00-00' name='tel')
        input.submit_input(type='submit' value='Удалить')
    aside.sales
      | &Acy;&kcy;&tscy;&icy;&yacy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &scy;&rcy;&iecy;&dcy;&acy;
      br
      a(href='/sales') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;...
