doctype html
head
    meta(charset='UTF-8')
    title Restoraunt
    link(rel='stylesheet' href='/stylesheets/style.css')
section.content_on_image
    header
        a(href='/')
            img.logo(src='/images/logo.png')
        main.menu
            a(href='/menu') &Mcy;&iecy;&ncy;&yucy;
            a(href='/contacts') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
            a(href='/sales') &Acy;&kcy;&tscy;&icy;&icy;
            a(href='/work') &Rcy;&acy;&bcy;&ocy;&tcy;&acy;
    .under_header
        main.all_forms
            .content
                block content
                a(href='/') &Vcy; &ncy;&acy;&chcy;&acy;&lcy;&ocy;
        aside.sales
            | &Acy;&kcy;&tscy;&icy;&yacy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &scy;&rcy;&iecy;&dcy;&acy;
            br
            a(href='/sales') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;...
